<div class="add-section">
  <input
    type="text"
    placeholder="Enter trainer name"
    [(ngModel)]="newName"
    (ngModelChange)="newName.set($event)"
  />
  <input
    type="text"
    placeholder="Enter email"
    [(ngModel)]="newEmail"
    (ngModelChange)="newEmail.set($event)"
  />
  <input
    type="password"
    placeholder="Enter password"
    [(ngModel)]="newPassword"
    (ngModelChange)="newPassword.set($event)"
    />
  <button (click)="addTrainer()">Add Trainer</button>
</div>

<h2>Trainers from API</h2>

@if (trainers().length > 0) {
 <ul>
    @for (trainer of trainers(); track trainer.id) {
      <li>
        <app-trainer-detail [trainer]="trainer"></app-trainer-detail>
        <button (click)="deleteTrainer(trainer.id)">Delete</button>
      </li>
    }
  </ul>
} @else {
  <p>No trainers to display.</p>
}
