<h2 class="page-title">Clients</h2>

<div class="card add-card">
  <h3>Add New Client</h3>

  <form [formGroup]="clientForm" (ngSubmit)="addClient()" class="add-section">
    <input 
      type="text"
      formControlName="name"
      placeholder="Client Name"
    />
    <input
      type="email"
      formControlName="email"
      placeholder="Client Email"
    />
    <input
      type="password"
      formControlName="passwordHash"
      placeholder="Password"
    />

    <select formControlName="trainer_id">
      <option 
        *ngFor="let t of trainers(); trackBy: trackByTrainerId" 
        [value]="t.id">
        {{ t.name }}
      </option>
    </select>

    <button type="submit" class="primary-btn" [disabled]="clientForm.invalid">Add Client</button>
  </form>
</div>

<div class="client-list">
  @if (clients()) {
    @if (clients().length > 0) {
      <ul>
        @for (client of clients(); track client.id) {
          <li class="client-card">
            <app-client-detail [client]="client"></app-client-detail>

            <div class="actions">
              <button class="delete-btn" (click)="deleteClient(client.id!)">Delete</button>
            </div>
          </li>
        }
      </ul>
    } @else {
      <p class="empty">No valid clients!</p>
    }
  } @else {
    <p class="empty">Loading clients...</p>
  }
</div>
