<header class="hero">
    <h1>Utopia Fitness Tracker</h1>
    <p>words</p>
</header>

<main class="sections">
    <a routerLink="/clients" class="card-link">
        <section class="card">
            <h2>Clients</h2>
            <p>View client info.</p>
        </section>
    </a>
    
    <a routerLink="/trainers" class="card-link">
        <section class="card">
            <h2>Trainers</h2>
            <p>View trainer info.</p>
        </section>
    </a>

    <a routerLink="/sessions" class="card-link">
        <section class="card">
            <h2>Sessions</h2>
            <p>View session info.</p>
        </section>
    </a>
</main>

