.page-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-dark);
  font-family: 'Noto Sans', sans-serif;
}

.sessions-container {
  max-width: 600px;
  margin: 2rem auto;
  width: 100%;
}

.session-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.session-item {
  margin-bottom: 1rem;
}

.session-card {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 6px rgba(60, 60, 73, 0.08);

  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 100%;
  box-sizing: border-box;
}

.delete-btn {
  background: var(--primary-dark);
  color: white;
  padding: 0.5rem 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 0.10;
  margin-bottom: 0.10;
}

.delete-btn:hover {
  background-color: #a93226;
}

.empty-message {
  text-align: center;
  color: #777;
  font-style: italic;
}
